html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.playfieldContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: grey;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.reset, .mineCount, .timer {
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.mineCount, .timer {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 3rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    caret-color: transparent;
    justify-content: center;
    align-items: center;
}

.cell:last-child {
    border-bottom: 1px solid black;
}

.cellHidden {
    background-color: lightslategray;
    display: 
}

.cellHidden:active {
    background-color: darkslategrey;
}

.cellOpen {
    background-color: white;
}

.mines {
    background-image: url('minesweeperMine.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.flag {
    background-image: url('minesweeperFlag.png');
    background-size: contain;
    background-repeat: no-repeat;
}
