html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.playfieldContainer {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-image: linear-gradient(
        to bottom right,
        #565656, #d0deff, #565656
    );
    border: 2px solid black;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.reset, .mineCount, .newGame {
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    margin-top: .5rem;
    caret-color: transparent;
}

.newGameContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: .6rem;
}

.newGame {
    width: 7rem;
    margin-bottom: .5rem;
    margin-right: 40%;
    margin-left: 40%;
}

label {
    font-weight: bold;
    margin-right: 1rem;
}

input {
    width: 4rem;
    margin-right: 1rem;
    text-align: center;
}

input:last-child {
    margin-right: 0;
}

.mineCount, .timer {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 3rem;
}

.winLoseMessage {
    margin-top: .3rem;
    font-size: 1.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.cell {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    caret-color: transparent;
    justify-content: center;
    align-items: center;
}

.cell:last-child {
    border-bottom: 1px solid black;
}

.cellHidden {
    background-color: lightslategray;
}

.cellHidden:active {
    background-color: darkslategrey;
}

.cellOpen {
    background-color: white;
}

.mines {
    background-image: url('minesweeperMine.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.flag {
    background-image: url('minesweeperFlag.png');
    background-size: contain;
    background-repeat: no-repeat;
}
